/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;       
  }

  @media (max-width: 600px) {
    #lgimg {
        display: none;
    }
}
  
#content {
    text-align: left;
}
header{
    text-align: center;
}
footer{
    text-align: right;
}  

ol{
    list-style: none;
}
ol li{
    display: inline;
    padding: 5px;
}

.collable {
    text-align: right;
    float:right;
}